# Aplikasi
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Database Neon PostgreSQL
DATABASE_URL=postgresql://user:password@ep-xxx.region.aws.neon.tech/arisan?sslmode=require

# Secret untuk JWT session
AUTH_SECRET=arisankeluarga_super_secret_jwt_key_2026_bani_sutrisno

# Wablas - WhatsApp Gateway
WABLAS_API_URL=https://solo.wablas.com
WABLAS_TOKEN=isi-token-wablas-anda

# Bunny CDN untuk upload foto / bukti bayar
BUNNY_STORAGE_HOSTNAME=brs-xxxxxxxx.bunnycdn.com
BUNNY_STORAGE_PASSWORD=isi-password-storage
BUNNY_CDN_HOSTNAME=https://nama-pull-zone.b-cdn.net
BUNNY_STORAGE_ZONE_NAME=nama-storage-zone

# OpenStreetMap Tile URL
NEXT_PUBLIC_MAP_TILE_URL=https://tile.openstreetmap.org/{z}/{x}/{y}.png
